#version: "3.8"

services:
  user:
    build:
      context: .
      dockerfile: service/user/Dockerfile
    #image: "${ECR_NAME}/user-domain:${TAG}"
    image: "${ECR_NAME:-local}/user-domain:${TAG:-latest}"
    ports:
      - "8081:8080"

  cart:
    build:
      context: .
      dockerfile: service/cart/Dockerfile
    #image: "${ECR_NAME}/cart-domain:${TAG}"
    image: "${ECR_NAME:-local}/cart-domain:${TAG:-latest}"
    ports:
      - "8082:8080"

  order:
    build:
      context: .
      dockerfile: service/order/Dockerfile
    #image: "${ECR_NAME}/order-domain:${TAG}"
    image: "${ECR_NAME:-local}/order-domain:${TAG:-latest}"
    ports:
      - "8083:8080"

  payment:
    build:
      context: .
      dockerfile: service/payment/Dockerfile
    #image: "${ECR_NAME}/payment-domain:${TAG}"
    image: "${ECR_NAME:-local}/payment-domain:${TAG:-latest}"
    ports:
      - "8084:8080"

  product:
    build:
      context: .
      dockerfile: service/product/Dockerfile
    #image: "${ECR_NAME}/product-domain:${TAG}"
    image: "${ECR_NAME:-local}/product-domain:${TAG:-latest}"
    ports:
      - "8085:8080"

# services:
   # 1. PostgreSQL 설정
  local-db:
   image: postgres:15-alpine
   container_name: local-db
   ports:
     - "5432:5432"
   environment:
     POSTGRES_USER: postgres
     POSTGRES_PASSWORD: postgres
     POSTGRES_DB: ecommerce

  # 2. Redis 설정
  local-redis:
   image: redis:alpine
   container_name: local-redis
   ports:
     - "6379:6379"

  # 3. Kafka 설정 (KRaft 모드)
  kafka:
    image: apache/kafka:4.1.1
    container_name: kafka
    ports:
      - "9093:9093"
    environment:
      KAFKA_CLUSTER_ID: 9ZCIjzlhTweLM-tgcDTr0A
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9091
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:9093,CONTROLLER://0.0.0.0:9091
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092,EXTERNAL://localhost:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_MIN_INSYNC_REPLICAS: 1
      KAFKA_LOG_DIRS: /var/lib/kafka/data
    volumes:
      - kafka-data:/var/lib/kafka/data
    
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    platform: linux/amd64
    ports:
      - "8090:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: ecommerce-cluster
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      #KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL: 
      DYNAMIC_CONFIG_ENABLED: true
    depends_on:
      - kafka

# 볼륨 정의 (영속성 보장)
volumes:
  kafka-data:
    driver: local
